body {
    background-color: darkgreen;
}

#headerImage {
    width: 100%;
    height: auto;

}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}