body {
    background-color: rgb(156, 176, 156);
}

#headerImage {
    width: 100%;
    height: auto;

}

h2 {
    color: white;
    text-align: center;

}
:focus { outline: 2px solid #ffcc00; }

p {
    color: white;
    text-align: center;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(166, 175, 164, 0.8);
}
#responseContainer {

    justify-content: center;
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }


    
}